.dart_tool/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
app_ui/.dart_tool/
app_ui/build/
app_ui/.flutter-plugins
app_ui/.flutter-plugins-dependencies
app_ui/.packages
core_manager/bin/
core_manager/dist/
*.log
*.tmp
Thumbs.db
desktop.ini
tmp/
/dist/linux-release/
